{% extends "about-1.html" %} {% load static %} {% load wagtailcore_tags %}


{% block pagetitle %}
<!--Page Title-->


<!--End Page Title-->
{% endblock %}

{% block content %} {% for block in page.content %} {% include_block block %}
{% endfor %} {% endblock content %}
{% block script %}

<!-- jequery plugins -->
<script src="{% static 'js/popper.min.js' %} "></script>
<script src="{% static 'js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/owl.js' %} "></script>
<script src="{% static 'js/wow.js' %} "></script>
<script src="{% static 'js/validation.js' %} "></script>
<script src="{% static 'js/jquery.fancybox.js' %} "></script>
<script src="{% static 'js/appear.js' %} "></script>
<script src="{% static 'js/venue.js' %} "></script>
<script src="{% static 'js/jquery.countTo.js' %} "></script>
<script src="{% static 'js/scrollbar.js' %} "></script>
<script src="{% static 'js/nav-tool.js' %} "></script>
<script src="{% static 'js/TweenMax.min.js' %} "></script>
<script src="{% static 'js/circle-progress.js' %} "></script>
{% comment %} <script src="{% static 'js/jquery.nice-select.min.js' %} "></script> {% endcomment %}
<script src="{% static 'js/rr.js' %} "></script>
<script src="{% static 'js/countries.js' %} "></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>


<!-- main-js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script src="{% static 'js/script.js' %} ">  </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNo6TNAgBz0O1FpxILMNHCA5EwxF7DLh4&libraries=places&callback=initialize"></script>
<script src="{% static 'js/gmaps.js' %}"></script>
<script src="{% static 'js/map-helper.js' %}"></script> 


<script language="javascript">
populateCountries("country", "state"); // first parameter is id of country drop-down and second parameter is id of state drop-down

</script>


{% endblock %}