{% load static %} {% load wagtailimages_tags %}
<!-- feature-section -->
<section class="feature-section sec-pad">
    <div class="auto-container text">

        {% if self.section_title %}
        <h1 class="sec-title " style="text-align:center">{{ self.section_title }}</h1>
        {% endif %}

        <div class="three-item-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
            {% for card in self.cards %}
            <div class="feature-block-one wow fadeInUp animated animated" data-wow-delay="00ms"
                data-wow-duration="1500ms">
                <div class="inner-box mb-120">
                    {% image card.image fill-360x270 as img %}
                    <figure class="image-box"><img src="{{ img.url }} " alt=" {{ img.alt }}"></figure>
                    <div class=" lower-content">
                        <div class="inner">
                            <h3>{{ card.title }}</h3>
                            {% if card.button_page %}
                            <a href="{{ card.button_page }}"><span>{{ card.button_text }}</span><i
                                    class="fas fa-arrow-right"></i></a></a>
                            {% elif card.button_url %}
                            <a href="{{ card.button_url }}"><span> {{ card.button_text }}</span><i
                                    class="fas fa-arrow-right"></i></a></a>
                            {% endif %}<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- feature-section end -->