 <!-- funfact-style-four -->
 <section class="funfact-style-four about-page-1 centred">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                <div class="counter-block-four wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="count-outer count-box">
                        <span class="count-text" data-speed="1500" data-stop="{{ self.Data_stop1 }}">0</span>k
                    </div>
                    <h3>{{ self.Heading1 }}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                <div class="counter-block-four wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="count-outer count-box">
                        <span class="count-text" data-speed="1500" data-stop="{{ self.Data_stop2 }}">0</span>k+
                    </div>
                    <h3>{{ self.Heading2 }}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                <div class="counter-block-four wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="count-outer count-box">
                        <span class="count-text" data-speed="1500" data-stop="{{ self.Data_stop3 }}">0</span>
                    </div>
                    <h3>{{ self.Heading3 }}</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                <div class="counter-block-four wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="count-outer count-box">
                        <span class="count-text" data-speed="1500" data-stop="{{ self.Data_stop4 }}">0</span>+
                    </div>
                    <h3>{{ self.Heading4 }}</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- funfact-style-four -->