{% load static %} {% load wagtailimages_tags %}
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            
                <div class="service-details-content">
                    <div class="content-style-one">
                        
                        <div class="sec-title left">
                            <h5>{{ self.Small_Heading }}</h5>
                            <h2>{{ self.Bold_Heading }}</h2>
                        </div>
                        <div class="text">
                            <p>{{ self.Paragraph }}</p>
                        </div>
                    </div>                    
                
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->