{% load static %} {% load wagtailimages_tags %}
<!-- world-cyber -->
<section class="world-cyber about-page-1">
    <div class="pattern-layer" style="background-image: url({% static 'images/shape/shape-2.png' %});"></div>
    <div class="auto-container">
        <div class="sec-title centred">
            <h5>{{ self.Small_Heading }}</h5>
            <h2>{{ self.Bold_Heading }}</h2>
        </div>
        <div class="office-location">
            <div class="location-area">
                <div class="location-box">
                    <div class="address-box">
                        <figure class="icon-box"><img src="{% static 'images/icons/icon-2.png' %}" alt=""></figure>
                        <p>Serve you to reach best profits and goals.</p>
                    </div>
                </div>
                <div class="location-box">
                    <div class="address-box">
                        <figure class="icon-box"><img src="{% static 'images/icons/icon-2.png' %}" alt=""></figure>
                        <p>Serve you to reach best profits and goals.</p>
                    </div>
                </div>
                <div class="location-box">
                    <div class="address-box">
                        <figure class="icon-box"><img src="{% static 'images/icons/icon-2.png' %}" alt=""></figure>
                        <p>Serve you to reach best profits and goals.</p>
                    </div>
                </div>
                <div class="location-box">
                    <div class="address-box">
                        <figure class="icon-box"><img src="{% static 'images/icons/icon-2.png' %}" alt=""></figure>
                        <p>Serve you to reach best profits and goals.</p>
                    </div>
                </div>
                <div class="location-box">
                    <div class="address-box">
                        <figure class="icon-box"><img src="{% static 'images/icons/icon-2.png' %}" alt=""></figure>
                        <p>Serve you to reach best profits and goals.</p>
                    </div>
                </div>
                <div class="location-box">
                    <div class="address-box">
                        <figure class="icon-box"><img src="{% static 'images/icons/icon-2.png' %}" alt=""></figure>
                        <p>Serve you to reach best profits and goals.</p>
                    </div>
                </div>
                <div class="location-box">
                    <div class="address-box">
                        <figure class="icon-box"><img src="{% static 'images/icons/icon-2.png' %}" alt=""></figure>
                        <p>Serve you to reach best profits and goals.</p>
                    </div>
                </div>
                <div class="location-box">
                    <div class="address-box">
                        <figure class="icon-box"><img src="{% static 'images/icons/icon-2.png' %}" alt=""></figure>
                        <p>Serve you to reach best profits and goals.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- world-cyber end -->
