{% load static %} {% load wagtailimages_tags %}

<!-- about-style-two -->
 <section class="about-style-two about-page-1 bg-color-1">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                <div id="content_block_three">
                    <div class="content-box">
                        <div class="sec-title right">
                            <h5>{{ self.title1_small }}</h5>
                            <h2>{{ self.title2_bold }}</h2>
                        </div>
                        <div class="text">
                            <p>{{self.text }}</p>
                        </div>
                        <div class="tabs-box">
                            <div class="tab-btn-box">
                                <ul class="tab-btns tab-buttons clearfix">
                                    <li class="tab-btn active-btn" data-tab="#tab-1">{{ self.tab_1}}</li>
                                    <li class="tab-btn" data-tab="#tab-2"> {{ self.tab_2}}</li>
                                    <li class="tab-btn" data-tab="#tab-3"> {{ self.tab_3}}</li>
                                </ul>
                            </div>
                            <div class="tabs-content">
                                <div class="tab active-tab" id="tab-1">
                                    <div class="content-inner">
                                        <p>{{ self.tab1_text }}</p>
                                        {% if self.tab1_readmore_pagelink %}
                                        <a href="{{ self.tab1_readmore_pagelink }}"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab" id="tab-2">
                                    <div class="content-inner">
                                        <p>{{ self.tab2_text }}</p>
                                        {% if self.tab2_readmore_pagelink %}
                                        <a href="{{ self.tab_readmore_pagelink }}"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab" id="tab-3">
                                    <div class="content-inner">
                                        <p>{{ self.tab3_text }}</p>
                                        {% if self.tab3_readmore_pagelink %}
                                        <a href="{{ self.tab3_readmore_pagelink }}"><i class="fas fa-arrow-right"></i><span>Read More</span></a>
                                        {% endif %}3
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 image-column">
                <div id="image_block_two">
                    <div class="image-box">
                        <div class="pattern-layer" style="background-image: url({% static 'images/shape/shape-25.png' %});"></div>
                        {% image self.image scale-100 as img%}
                        <figure class="image"><img src="{{ img.url }} " alt=" {{ img.alt }}"></figure>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-style-two end -->
