<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
      --blue: #007bff;
      --indigo: #6610f2;
      --purple: #6f42c1;
      --pink: #e83e8c;
      --red: #dc3545;
      --orange: #fd7e14;
      --yellow: #ffc107;
      --green: #28a745;
      --teal: #20c997;
      --cyan: #17a2b8;
      --white: #fff;
      --gray: #6c757d;
      --gray-dark: #343a40;
      --primary: #007bff;
      --secondary: #6c757d;
      --success: #28a745;
      --info: #17a2b8;
      --warning: #ffc107;
      --danger: #dc3545;
      --light: #f8f9fa;
      --dark: #343a40;
      --breakpoint-xs: 0;
      --breakpoint-sm: 576px;
      --breakpoint-md: 768px;
      --breakpoint-lg: 992px;
      --breakpoint-xl: 1200px;
      --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
      --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
      text-align: left;
      -webkit-font-smoothing: antialiased;
      line-height: 1.875;
      color: #616161;
      vertical-align: baseline;
      font-family: inherit;
      font-weight: inherit;
      font-style: inherit;
      font-size: 100%;
      outline: 0;
      padding: 0;
      margin: 0;
      border: 0;
      margin-left: -15px;
      margin-right: -15px;
      transition: opacity 0.5s ease;
      overflow: hidden;
      position: relative;
      left: -74.5px;
      box-sizing: border-box;
      width: 1349px;
      padding-left: 74.5px;
      padding-right: 74.5px;
    </style>
  </head>
  <body>
    <div
      data-vc-full-width="true"
      data-vc-full-width-init="true"
      class="vc_row wpb_row vc_row-fluid"
      style="
        position: relative;
        left: -74.5px;
        box-sizing: border-box;
        width: 1349px;
        padding-left: 74.5px;
        padding-right: 74.5px;
      "
    >
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <div class="brainbizz_module_spacing">
              <div
                class="spacing_size spacing_size-initial"
                style="height: 57px"
              ></div>
            </div>
            <div
              id="brainbizz_dbl_6193b5ef85ba8"
              class="brainbizz_module_double_headings aleft"
            >
              <div
                class="heading_subtitle"
                style="font-size: 14px; line-height: 12px; font-weight: 600"
              >
                GLENEAGLE SECURITIES OVERVIEW
              </div>
              <div
                class="heading_title"
                style="font-size: 36px; line-height: 1.167; font-weight: 400"
              >
                <div
                  class="heading_title_mobile"
                  style="font-size: 31px; line-height: 1.167"
                >
                  Corporate Overview
                </div>
              </div>
            </div>
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
              <div
                class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-12"
              >
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div
                      class="
                        wpb_text_column wpb_content_element
                        vc_custom_1628334869843
                      "
                    >
                      <div class="wpb_wrapper"></div>
                    </div>
                    <section class="wgl_cpt_section">
                      <div
                        class="wgl_portfolio_list"
                        id="portfolio_module_6193b5ef8ae1d"
                      >
                        <div
                          class="
                            wgl_portfolio_list-container
                            container-grid
                            row
                            grid
                            portfolio_columns-4
                          "
                          style="
                            margin-right: -15px;
                            margin-left: -15px;
                            margin-bottom: -30px;
                          "
                        >
                          <article
                            class="
                              wgl_portfolio_list-item
                              item
                              wgl_col-3
                              1st-mortgage
                              fixed-income-funds
                            "
                            style="
                              padding-right: 15px;
                              padding-left: 15px;
                              padding-bottom: 30px;
                            "
                          >
                            <div
                              class="
                                wgl_portfolio_item-wrapper
                                inside_image
                                h_align_left
                                default_animation
                                gallery_type
                              "
                            >
                              <div class="wgl_portfolio_item-image">
                                <img
                                  src="https://australianmanagedfunds.com.au/wp-content/uploads/2018/11/GE-2-570x570.jpg"
                                  alt=""
                                />
                              </div>
                              <div class="wgl_portfolio_item-description">
                                <a
                                  href="https://australianmanagedfunds.com.au/wp-content/uploads/2018/11/GE-2.jpg"
                                  class="swipebox"
                                ></a>
                              </div>
                              <div class="overlay"></div>
                            </div>
                          </article>
                          <article
                            class="
                              wgl_portfolio_list-item
                              item
                              wgl_col-3
                              1st-mortgage
                              fixed-income-funds
                            "
                            style="
                              padding-right: 15px;
                              padding-left: 15px;
                              padding-bottom: 30px;
                            "
                          >
                            <div
                              class="
                                wgl_portfolio_item-wrapper
                                inside_image
                                h_align_left
                                default_animation
                                gallery_type
                              "
                            >
                              <div class="wgl_portfolio_item-image">
                                <img
                                  src="https://australianmanagedfunds.com.au/wp-content/uploads/2018/11/GE-3-570x570.jpg"
                                  alt=""
                                />
                              </div>
                              <div class="wgl_portfolio_item-description">
                                <a
                                  href="https://australianmanagedfunds.com.au/wp-content/uploads/2018/11/GE-3.jpg"
                                  class="swipebox"
                                ></a>
                              </div>
                              <div class="overlay"></div>
                            </div>
                          </article>
                          <article
                            class="
                              wgl_portfolio_list-item
                              item
                              wgl_col-3
                              1st-mortgage
                              fixed-income-funds
                            "
                            style="
                              padding-right: 15px;
                              padding-left: 15px;
                              padding-bottom: 30px;
                            "
                          >
                            <div
                              class="
                                wgl_portfolio_item-wrapper
                                inside_image
                                h_align_left
                                default_animation
                                gallery_type
                              "
                            >
                              <div class="wgl_portfolio_item-image">
                                <img
                                  src="https://australianmanagedfunds.com.au/wp-content/uploads/2018/11/GE-7-570x570.jpg"
                                  alt=""
                                />
                              </div>
                              <div class="wgl_portfolio_item-description">
                                <a
                                  href="https://australianmanagedfunds.com.au/wp-content/uploads/2018/11/GE-7.jpg"
                                  class="swipebox"
                                ></a>
                              </div>
                              <div class="overlay"></div>
                            </div>
                          </article>
                          <article
                            class="
                              wgl_portfolio_list-item
                              item
                              wgl_col-3
                              fixed-income-funds
                            "
                            style="
                              padding-right: 15px;
                              padding-left: 15px;
                              padding-bottom: 30px;
                            "
                          >
                            <div
                              class="
                                wgl_portfolio_item-wrapper
                                inside_image
                                h_align_left
                                default_animation
                                gallery_type
                              "
                            >
                              <div class="wgl_portfolio_item-image">
                                <img
                                  src="https://australianmanagedfunds.com.au/wp-content/uploads/2018/11/GE-8-570x570.jpg"
                                  alt=""
                                />
                              </div>
                              <div class="wgl_portfolio_item-description">
                                <a
                                  href="https://australianmanagedfunds.com.au/wp-content/uploads/2018/11/GE-8.jpg"
                                  class="swipebox"
                                ></a>
                              </div>
                              <div class="overlay"></div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </section>
                    <div class="brainbizz_module_spacing">
                      <div
                        class="spacing_size spacing_size-initial"
                        style="height: 57px"
                      ></div>
                    </div>
                    <div class="brainbizz_module_spacing">
                      <div
                        class="spacing_size spacing_size-initial"
                        style="height: 57px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.querySelector("#main-content > div:nth-child(17)");
    </script>
  </body>
</html>
